<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <title>Index</title>
    <link href="{{ url_for('static', filename='aspirin_app/extjs/resources/css/ext-all-neptune.css') }}" rel="stylesheet"/>
    <script src="{{ url_for('static', filename='aspirin_app/extjs/bootstrap.js') }}"></script>
    <script src="{{ url_for('static', filename='aspirin_app/extjs/locale/ext-lang-zh_CN.js') }}"></script>
    <script src="{{ url_for('static', filename='aspirin_app/model.js') }}"></script>
    <script src="{{ url_for('static', filename='aspirin_app/store.js') }}"></script>
    <script src="{{ url_for('static', filename='aspirin_app/testcase_grid.js') }}"></script>
    <script src="{{ url_for('static', filename='aspirin_app/teststep_grid.js') }}"></script>
    <script src="{{ url_for('static', filename='aspirin_app/aspirin_app.js') }}"></script>

</head>
<body>
</body>
</html>